#override("title")
SpringWind 管理系统 SSM 框架
#end
#override("breadcrumb")
<li class="active"><strong>介绍说明</strong></li>
#end
#override("content")
<center>
	<div class="row">
		<img alt="spring-wind" src="#springUrl('/front/images/logo.png')"  style="width: 500px;height: 200px;position:relative; left:-100px" >
	</div>
</center>
<br/>
<br/>
<br/>
<br/>
<div class="row">
	<span style="text-align: center;display:block;font-size: 20px">
		<br/>
	大连峰岚文化传媒有限公司是一家为企业文化和品牌建设提供整体解决方案的企业服务一站式供应商。
	<br/><br/>
	为企事业单位、团体和个人，提供专业的活动策划执行、学术&商务会议承办、影视拍摄、视觉艺术传达以及新媒体互动营销服务。
	<br/><br/>
	致力于让我们所服务的客户品牌，脱颖而出、占领认知、构架竞争壁垒。
	<br/><br/>
	</span>

</div>
<br/><br/><br/>
#end
#extends("/common/framework.html")
