#override("title")
SpringWind 管理系统 SSM 框架
#end
#override("breadcrumb")
<li class="active"><strong>介绍说明</strong></li>
#end
#override("content")
<center>
	<div class="row">
		<img alt="spring-wind" src="#springUrl('/front/images/logo.png')"  style="width: 500px;height: 200px;position:relative; left:-100px" >
	</div>
</center>
<br/>
<br/>
<br/>
<br/>
<div class="row">
	<span style="text-align: center;display:block;font-size: 20px">
		<br/>
	大连万科家电传媒有限公司是一家为百姓提供空调整体解决方案的空调服务一站式供应商。
	<br/><br/>
	为百姓提供空调拆装，空调运输，空调清洗，空调加氟，空调维修等服务。
	<br/><br/>
	致力于让我们所服务的客户品牌，脱颖而出、占领认知、构架竞争壁垒。
	<br/><br/>
	</span>

</div>
<br/><br/><br/>
#end
#extends("/common/framework.html")
