<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Basic Form</title>
    <link href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/fileinput.min.css')" rel="stylesheet">
    <script src="#springUrl('/static/js/jquery-2.1.1.js')"></script>
    <script src="#springUrl('/static/js/fileinput.min.js')"></script>
    <script src="#springUrl('/static/js/locales/zh.js')"></script>
    <script src="#springUrl('/static/plugins/nice-validator-0.8.1/jquery.validator.js?local=zh-CN')"></script>
    <script type="text/javascript">
        $(function () {
            $(".selector").find("option[text='$!{serviceItem.serviceType}']").attr("selected", true);
            if ('$!{serviceItem.serviceItemId}' == '')
                $("#serviceItemId").attr("value", "0");
        })
    </script>
</head>
<body class="white-bg">
<div class="ibox-content" style="width: 600px;">
    <form id="myForm" class="form-horizontal" autocomplete="off" data-validator-option="{theme:'default'}">

        <!--业务标题-->
        <input type="hidden" id="serviceItemId" name="serviceItemId" value="$!{serviceItem.serviceItemId}">
        <div class="form-group">
            <label for="titleText" class="col-sm-2 control-label">业务标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="titleText" value="$!{serviceItem.titleText}"
                       name="titleText" data-rule="用户名:required;loginName">
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <!--业务描述-->
        <div class="form-group"><label class="col-sm-2 control-label">业务描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="describeText" name="describeText">$!{serviceItem.describeText}</textarea>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <!--业务类型-->
        <div class="form-group"><label class="col-sm-2 control-label">业务类型</label>
            <div class="col-sm-10">
                <select class="form-control m-b selector" name="serviceType" id="serviceType">
                    <option value="1" text="1">活动策划执行</option>
                    <option value="2" text="2">会议承办</option>
                    <option value="3" text="3">影视拍摄</option>
                    <option value="4" text="4">视觉传达</option>
                    <option value="5" text="5">新媒体互动营销</option>
                </select>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <!--首图-->
        <div class="form-group"><label class="col-sm-2 control-label">首图</label>
            <div class="col-sm-10">
                <input type="file" id="titleImage" name="titleImage" data-ref="url" class="file-loading"
                       accept="image/jpeg" multiple/>
                <p class="help-block">支持jpg格式，大小不超过2.0M</p>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <!--详情中的商标图-->
        <div class="form-group"><label class="col-sm-2 control-label">详情中的商标图</label>
            <div class="col-sm-10">
                <input type="file" id="describeImage" name="describeImage" data-ref="url" class="file-loading"
                       accept="image/jpeg" multiple/>
                <p class="help-block">支持jpg格式，大小不超过2.0M</p>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <!--内容图片-->
        <div class="form-group"><label class="col-sm-2 control-label">内容图片</label>
            <div class="col-sm-10">
                <input type="file" id="image" name="image" data-ref="url" class="file-loading"
                       accept="image/jpeg" multiple/>
                <p class="help-block">支持jpg格式，大小不超过2.0M</p>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <div class="text-center">
                <button class="btn btn-primary" type="submit">#if($!{user})修 改#else提 交#end</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    var FileInput = function () {
        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.Init = function (ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);
            control.fileinput({
                language: 'zh',                                         //设置语言
                uploadUrl: uploadUrl,                                   //上传的地址
                allowedFileExtensions: ['jpg', 'png', 'jpeg', 'bmp'], //接收的文件后缀
                showUpload: false,                                       //是否显示上传按钮
                showCaption: true,                                     //是否显示标题
                browseClass: "btn btn-primary",                         //按钮样式
                dropZoneEnabled: false,                               //是否显示拖拽区域
                maxFileSize: 2000,                                       //单位为kb，如果为0表示不限制文件大小
                maxFileCount: 1,                                       //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount: true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates: {
                    // actionDrag: '',
                    actionUpload: '',
                    actionZoom: ''
                },
                uploadExtraData: function (previewId, index) {           //传参
                    var data = {
                        "titleImage": '1',      //此处自定义传参
                    };
                    return data;
                }
            });
            //导入文件上传完成之后的事件
            $("#titleImage").on("fileuploaded", function (event, data, previewId, index) {
                //报告table刷新
                console.log("1");
            });
        };
        return oFile;
    };

    var ImageInput = function () {
        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.Init = function (ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);
            control.fileinput({
                language: 'zh',                                         //设置语言
                uploadUrl: uploadUrl,                                   //上传的地址
                allowedFileExtensions: ['jpg', 'png', 'jpeg', 'bmp'], //接收的文件后缀
                showUpload: false,                                       //是否显示上传按钮
                showCaption: true,                                     //是否显示标题
                browseClass: "btn btn-primary",                         //按钮样式
                dropZoneEnabled: false,                               //是否显示拖拽区域
                maxFileSize: 2000,                                       //单位为kb，如果为0表示不限制文件大小
                maxFileCount: 10,                                       //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount: true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates: {
                    // actionDrag: '',
                    actionUpload: '',
                    actionZoom: ''
                },
                uploadExtraData: function (previewId, index) {           //传参
                    var data = {
                        "titleImage": '1',      //此处自定义传参
                    };
                    return data;
                }
            });
            //导入文件上传完成之后的事件
            $("#titleImage").on("fileuploaded", function (event, data, previewId, index) {
                //报告table刷新
                console.log("1");
            });
        };
        return oFile;
    };

    var titleImage = new FileInput();
    var describeImage = new FileInput();
    var image = new ImageInput();

    titleImage.Init("titleImage", "/SpringWind/sys/serviceItem/upload");
    describeImage.Init("describeImage", "/SpringWind/sys/serviceItem/upload");
    image.Init("image", "/SpringWind/sys/serviceItem/upload");

    $("#myForm").validator({
        valid: function (form) {
            var me = this;
            // 提交表单之前，hold住表单，防止重复提交
            me.holdSubmit();
            $.ajax({
                url: "#springUrl('/sys/serviceItem/editServiceItem')",
                data: $(form).serialize(),
                type: "POST",
                success: function (data) {
                    console.log(data);
                    if (data) {
                        $('#titleImage').fileinput('upload');
                        $('#describeImage').fileinput('upload');
                        $('#image').fileinput('upload');

                    }
                }
            });
        }
    });
</script>
</body>
</html>
