#override("title")
SpringWind - 业务管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>业务管理</a></li><li class="active"><strong>业务管理</strong></li>
#end
#override("content")
<div class="row">
    <div class="ibox-content text-right form-inline" style="background: #F3F3F4;">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
				<button type="button" class="btn btn-info">搜索</button>
			</span>
        </div>
        <button class="btn btn-primary" onclick="editServiceItem(null)" type="button">
            <i class="fa fa-pencil"></i>&nbsp;添加业务</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="dataTable"></table>
    </div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
    var dataUrl = "#springUrl('/sys/serviceItem/getServiceItemList.html')";
    var dataColumns = [{
        field: 'serviceItemId',
        title: '序号'
    }, {
        field: 'titleText',
        title: '业务标题'
    }, {
        field: 'serviceType',
        title: '业务类型',
        formatter: function (value, row, index) {
            if (row.serviceType==1){
                return "活动策划执行";
            }else if (row.serviceType==2){
                return "会议承办";
            }else if (row.serviceType==3){
                return "影视拍摄";
            }else if (row.serviceType==4){
                return "视觉传达";
            }else if (row.serviceType==5){
                return "新媒体互动营销";
            }else {
                return "--";
            }
        }
    }, {
        field: 'insertTime',
        title: '添加时间',
        formatter: function (value, row, index) {
            return formatDate(row.insertTime);
        }
    },{
        title: '操作',
        formatter: function (value, row, index) {
            var id = row.serviceItemId;
            return '<a class="btn btn-xs btn-warning" onclick="editServiceItem(' + "'" + id + "'" + ')"><i class="fa fa-pencil"></i>编辑</a> '
                <!-- 此处按钮级别权限控制，目前只有 admin 拥有该权限！ -->
            #if($SSOPermission.isActionable("10010"))
            + '<a class="btn btn-xs btn-danger" onclick="delServiceItem(' + "'" + id + "'" + ')"><i class="fa fa-remove"></i>删除</a>'
            #end;
        }
    }
    ];
    function dataQueryParams(params) {
        return {
            _size: params.limit,  //页面大小
            _index: params.offset, //页码
        };
    }

    function delServiceItem(id) {
        //询问框
        layer.confirm('确定删除吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: "POST",
                url: "#springUrl('/sys/serviceItem/delServiceItem/')" + id,
                datatype: "text",
                success: function (data) {
                    if(data == 'true'){
                        $('#dataTable').bootstrapTable('refresh',{url:dataUrl});
                    }
                    layer.closeAll();
                }
            });
        }, function () {
            return;
        });
    }

    function editServiceItem(id){
        var title = "新增业务";
        var url = "#springUrl('/sys/serviceItem/edit.html')";
        if(id!=null){
            title = "编辑业务";
            url = url + "?id=" + id;
        }
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['820px', '700px'],
            fix: false,
            maxmin: true,
            content: url
        });
    }
</script>
#end
#extends("/common/framework.html")
