<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>大连峰岚文化有限公司</title>
    <script src="../../front/js/jquery.1.9.1.js"></script>
    <script src="../../front/js/anlinei.js"></script>
    <script src="../../front/js/index.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "#springUrl('/sys/secondMenu/selectForShow')",
                data: {id: "3"},
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    console.log(d);
                    if (d.result != null) {
                        $(".art0").html(d.result.editText);
                        $(".sj-art0").html(d.result.editText);
                        var imageLunBo = "";
                        var imageList = d.result.imageId.split(",");
                        console.log(imageList);
                        if (imageList != null && imageList.length !== 0) {
                            for (var i=0;i < imageList.length;i++){
                                imageLunBo = imageLunBo + "<a href='#'><img src='"+(imageList[i])+"'/></a>";
                            }
                            console.log(imageLunBo);
                            $(".lunbo").append(imageLunBo);
                        }
                    }
                }
            });

            var serviceType = sessionStorage.getItem("serviceType");
            if (serviceType != ""&&serviceType!=null){
                partOfServiceItem(serviceType);
            } else {
                $.ajax({
                    url: "#springUrl('/sys/serviceItem/getServiceItemListForFront')",
                    type: "POST",
                    success: function (data) {
                        var d = JSON.parse(data);
                        console.log(d);
                        var serviceItemList = d.rows;
                        var serviceItemOne = '';
                        if (serviceItemList != null && serviceItemList.length !== 0) {
                            console.log(serviceItemList);
                            for (var i=0;i < serviceItemList.length;i++){
                                var serviceItemOfList=serviceItemList[i];
                                var serviceTypeName = serviceItemOfList.serviceType;
                                if (serviceTypeName==1){
                                    serviceTypeName = "活动策划执行";
                                }else if (serviceTypeName==2){
                                    serviceTypeName = "会议承办";
                                }else if (serviceTypeName==3){
                                    serviceTypeName = "影视拍摄";
                                }else if (serviceTypeName==4){
                                    serviceTypeName = "视觉传达";
                                }else if (serviceTypeName==5){
                                    serviceTypeName = "新媒体互动营销";
                                }
                                serviceItemOne = serviceItemOne +
                                    "<div class='art2-div'>" +
                                    "<a href='javascript:void(0);' onclick='goServiceItem(" + '"' + serviceItemOfList.serviceItemId + '"' + ")' class='art2-a'><img src='"+(serviceItemOfList.titleImage)+"' alt=''/></a>" +
                                    "<a href='javascript:void(0);' onclick='goServiceItem(" + '"' + serviceItemOfList.serviceItemId + '"' + ")' >" +
                                    "<p class='art2-p'>" +
                                    "<span>"+(serviceTypeName)+"</span>" +
                                    "<span>"+(serviceItemOfList.titleText)+"</span>" +
                                    "</p>" +
                                    "</a>" +
                                    "</div>";
                            }
                            $(".art2").append(serviceItemOne);
                            $(".art2").append('<p style="clear:both"></p>');
                            // 图片部分移入移出
                            $(".art2-div").each(function(index, el) {
                                var i = index;
                                $(this).mouseover(function(event) {
                                    $(".art2-p").each(function(index, el) {
                                        $(this).hide();
                                    });
                                    $(".art2-p").eq(i).show().css('background-color', 'rgba(28,42,78,0.8)');
                                    $(".art2-a img").eq(i).addClass('dong');
                                });
                                $(this).mouseout(function(event) {
                                    $(".art2-p").each(function(index, el) {
                                        $(this).hide();
                                    });
                                    $(".art2-p").hide();
                                    $(".art2-p").eq(i).hide();
                                    $(".art2-a img").eq(i).removeClass('dong');
                                });
                            });
                            var imgheight = $(".art2-a img").width();
                            var imgheight1 = Math.floor(imgheight*500/605);
                            $(".art2-p").css('height', imgheight1);

                        }
                    }
                });
            }


        });

        function goServiceItem(serviceItemId) {
            console.log(serviceItemId);
            sessionStorage.setItem("serviceItemId",serviceItemId);
            window.location.href="#springUrl('/front/flService/toServiceItem')";
        };

        function partOfServiceItem(id) {
            $(".art2").empty();
            $.ajax({
                url: "#springUrl('/sys/serviceItem/getServiceItemListForFront')",
                data : {serviceType:id},
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    console.log(d);
                    var serviceItemList = d.rows;
                    var serviceItemOne = '';
                    if (serviceItemList != null && serviceItemList.length !== 0) {
                        console.log(serviceItemList);
                        for (var i=0;i < serviceItemList.length;i++){
                            var serviceItemOfList=serviceItemList[i];
                            var serviceTypeName = serviceItemOfList.serviceType;
                            if (serviceTypeName==1){
                                serviceTypeName = "活动策划执行";
                            }else if (serviceTypeName==2){
                                serviceTypeName = "会议承办";
                            }else if (serviceTypeName==3){
                                serviceTypeName = "影视拍摄";
                            }else if (serviceTypeName==4){
                                serviceTypeName = "视觉传达";
                            }else if (serviceTypeName==5){
                                serviceTypeName = "新媒体互动营销";
                            }
                            serviceItemOne = serviceItemOne +
                                "<div class='art2-div'>" +
                                "<a href='javascript:void(0);' onclick='goServiceItem(" + '"' + serviceItemOfList.serviceItemId + '"' + ")' class='art2-a'><img src='"+(serviceItemOfList.titleImage)+"' alt=''/></a>" +
                                "<a href='javascript:void(0);' onclick='goServiceItem(" + '"' + serviceItemOfList.serviceItemId + '"' + ")' >" +
                                "<p class='art2-p'>" +
                                "<span>"+(serviceTypeName)+"</span>" +
                                "<span>"+(serviceItemOfList.titleText)+"</span>" +
                                "</p>" +
                                "</a>" +
                                "</div>";
                        }
                        $(".art2").append(serviceItemOne);
                        $(".art2").append('<p style="clear:both"></p>');
                        // 图片部分移入移出
                        $(".art2-div").each(function(index, el) {
                            var i = index;
                            $(this).mouseover(function(event) {
                                $(".art2-p").each(function(index, el) {
                                    $(this).hide();
                                });
                                $(".art2-p").eq(i).show().css('background-color', 'rgba(28,42,78,0.8)');
                                $(".art2-a img").eq(i).addClass('dong');
                            });
                            $(this).mouseout(function(event) {
                                $(".art2-p").each(function(index, el) {
                                    $(this).hide();
                                });
                                $(".art2-p").hide();
                                $(".art2-p").eq(i).hide();
                                $(".art2-a img").eq(i).removeClass('dong');
                            });
                        });
                        var imgheight = $(".art2-a img").width();
                        var imgheight1 = Math.floor(imgheight*500/605);
                        $(".art2-p").css('height', imgheight1);
                    }
                }
            });
        }
    </script>
    <link rel="stylesheet" href="../../front/css/anlinei.css"/>
    <link rel="stylesheet" href="../../front/css/head-foot.css"/>
    <link rel="stylesheet" href="../../front/css/style.css"/>
    <link rel="stylesheet" href="../../front/css/bootstrap.css"/>
</head>
<body>
<!-- 头部导航 -->
<div class="header">
    <img src="../../front/images/logo.png" alt="" class="logo"/>
    <a class="btn"><img src="../../front/images/nav1.png" alt=""/></a>
    <div class="nav">
        <ul>
            <li><a href="../home/toIndex">首页</a></li>
            <li><a href="../advantage/toAdvantage">峰岚优势</a></li>
            <li><a href="../about/toAbout">关于峰岚</a></li>
            <li><a href="../flService/toFLService">峰岚业务</a></li>
            <li><a href="../news/toNews">峰岚动态</a></li>
            <li><a href="../contact/toContact">联系我们</a></li>
        </ul>
        <a class="del"><img src="../../front/images/del.png" alt=""/></a>
    </div>
</div>
<!-- 头部导航结束 -->
<div class="middle_right">
    <div id="lunbobox">
        <div class="lunbo">
            <!--<a href="#"><img src="../../front/images/anli-nei1.png"/></a>-->
            <!--<a href="#"><img src="../../front/images/anli-nei0.png"/></a>-->
            <!--<a href="#"><img src="../../front/images/anli-nei1.png"/></a>-->
            <!--<a href="#"><img src="../../front/images/anli-nei0.png"/></a>-->
            <!--<a href="#"><img src="../../front/images/anli-nei1.png"/></a>-->
        </div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <span></span>
    </div>

    <div class="art">
        <div class="art0">
            <p class="art0-title">选择峰岚文化，就是选择安心和卓有成效！</p>
            <p>
                <a class="art0-a">客户优先</a>
                <span class="art0-span">只为目标想办法，不为省事找理由<br>竭尽所能实现客户要求，只是不想对客户说 “对不起，做不到” </span>
            </p>
            <p>
                <a class="art0-a">专&nbsp;&nbsp;&nbsp;&nbsp;业</a>
                <span class="art0-span">专业的文案、策划、视觉设计、影视拍摄、后期制作团队<br>实战经验丰富，匠心打造每个项目</span>
            </p>
            <p>
                <a class="art0-a">全&nbsp;&nbsp;&nbsp;&nbsp;面</a>
                <span class="art0-span">不必再东奔西走<br>峰岚五大业务一站式达成企业文化和品牌建设目标</span>
            </p>
        </div>
        <!-- 手机版 -->
        <div class="sj-art0">
            <p class="sj-art0-title">选择峰岚文化<br>就是选择安心和卓有成效！</p>
            <p>
                <a class="sj-art0-a">客户优先</a>
                <span class="sj-art0-span">只为目标想办法，不为省事找理由<br>竭尽所能实现客户要求，只是不想对客户说 “对不起，做不到” </span>
            </p>
            <p>
                <a class="sj-art0-a">专&nbsp;&nbsp;&nbsp;&nbsp;业</a>
                <span class="sj-art0-span">专业的文案、策划、视觉设计、影视拍摄、后期制作团队<br>实战经验丰富，匠心打造每个项目</span>
            </p>
            <p>
                <a class="sj-art0-a">全&nbsp;&nbsp;&nbsp;&nbsp;面</a>
                <span class="sj-art0-span">不必再东奔西走<br>峰岚五大业务一站式达成企业文化和品牌建设目标</span>
            </p>
        </div>
        <!-- 导航部分 -->
        <p class="art1">
            <a href="javascript:void(0);" onclick="partOfServiceItem()" class="art11">作品案例 ｜</a>
            <a href="javascript:void(0);" onclick="partOfServiceItem(1)" class="xs">活动策划执行</a>
            <a href="javascript:void(0);" onclick="partOfServiceItem(2)">会议承办</a>
            <a href="javascript:void(0);" onclick="partOfServiceItem(3)">影视拍摄</a>
            <a href="javascript:void(0);" onclick="partOfServiceItem(4)">视觉传达</a>
            <a href="javascript:void(0);" onclick="partOfServiceItem(5)">新媒体互动营销</a>
        </p>
        <!-- 手机版 -->
        <div class="sj-art1">
            <a href="javascript:void(0);" onclick="partOfServiceItem()" class="sj-art11">作品案例 ｜</a>
            <div class="sj-art12">
                <a href="javascript:void(0);" onclick="partOfServiceItem(1)" class="xs">活动策划执行</a>
                <a href="javascript:void(0);" onclick="partOfServiceItem(2)">会议承办</a>
                <a href="javascript:void(0);" onclick="partOfServiceItem(3)">影视拍摄</a>
                <a href="javascript:void(0);" onclick="partOfServiceItem(4)">视觉传达</a>
                <a href="javascript:void(0);" onclick="partOfServiceItem(5)">新媒体互动营销</a>
            </div>
        </div>
        <!-- 图片部分 -->
        <div class="art2">
        </div>


    </div>
    <!-- art的div结束 -->


    <!-- 品牌滚动部分 -->
    <div class="container">
        <div id="single-quad" class="carousel slide" data-ride="carousel" data-shift="1">
            <div class="carousel-inner">
                <ul class="row item active">
                    <li class="col-xs-2 one">
                        <img src="../../front/images/anli-nei17.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 two">
                        <img src="../../front/images/anli-nei18.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 three">
                        <img src="../../front/images/anli-nei19.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 four">
                        <img src="../../front/images/anli-nei20.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 five">
                        <img src="../../front/images/anli-nei21.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 six">
                        <img src="../../front/images/anli-nei22.png" class="img-responsive"/>
                    </li>
                </ul>
                <ul class="row item">
                    <li class="col-xs-2 seven">
                        <img src="../../front/images/anli-nei17.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 eight">
                        <img src="../../front/images/anli-nei18.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 eight">
                        <img src="../../front/images/anli-nei19.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 eight">
                        <img src="../../front/images/anli-nei20.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 eight">
                        <img src="../../front/images/anli-nei21.png" class="img-responsive"/>
                    </li>
                    <li class="col-xs-2 eight">
                        <img src="../../front/images/anli-nei22.png" class="img-responsive"/>
                    </li>
                </ul>
            </div>

            <a class="carousel-control left" href="#single-quad" data-slide="prev"></a>
            <a class="carousel-control right" href="#single-quad" data-slide="next"></a>
        </div>
    </div>
    <!-- footer部分 -->
    <p class="footer">
        <span>大连峰岚文化有限公司</span>
        <span>辽ICP备12345678号</span>
    </p>

</div>
<!-- middle_right的div结束 -->

<!-- 一键向上 -->
<a href="" class="top"><img src="../../front/images/top.png" alt=""/></a>

<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../../front/js/lunbo.js"></script>
</body>
</html>
