<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>大连峰岚文化有限公司</title>
<script src="../../front/js/jquery.1.9.1.js"></script>
<script src="../../front/js/index.js"></script>
<script src="../../front/js/dongtainei.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "#springUrl('/sys/secondMenu/selectForShow')",
                data: {id:"4"},
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.result!=null){
                        $(".lunbo img").attr("src",d.result.backgroundImg);
                        // $(".art3").html(d.result.editText);
                    }
                }
            });
        })
    </script>
<link rel="stylesheet" href="../../front/css/dongtainei.css" />
<link rel="stylesheet" href="../../front/css/head-foot.css" />
</head>
<body>
<!-- 头部导航 -->
<div class="header">
    <img src="../../front/images/logo.png" alt="" class="logo" />
    <a class="btn"><img src="../../front/images/nav1.png" alt="" /></a>
    <div class="nav">
      <ul>
          <li><a href="../home/toIndex">首页</a></li>
          <li><a href="../advantage/toAdvantage">峰岚优势</a></li>
          <li><a href="../about/toAbout">关于峰岚</a></li>
          <li><a href="../flService/toFLService">峰岚业务</a></li>
          <li><a href="../news/toNews">峰岚动态</a></li>
          <li><a href="../contact/toContact">联系我们</a></li>
      </ul>
      <a class="del"><img src="../../front/images/del.png" alt="" /></a>
    </div>
</div>
<!-- 头部导航结束 -->

<div class="middle_right">
    <div id="lunbobox">
        <div class="lunbo">
          <a href="#"><img src="../../front/images/anli-nei0.png" /></a>
        </div>
    </div>
   <div class="art">
        <img src="../../front/images/dongtai-xiang1.png" alt="" class="new" />
        <!-- 图片部分 -->
        <div class="tu">
            <div class="tu-div">
              <p>
                <span class="month">12<br>03月</span>
                <span class="span1">峰岚动态</span>
                <span class="span2">中国化学会第八届全国配位化学会议</span>
              </p>
              <a href="" class="img"><img src="../../front/images/dongtai-nei1.png" alt="" /></a>
              <p class="text">活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍</p>
              <a href="dongtaixiang.html" class="more">MORE</a>
              <p style="clear:both"></p>
            </div>
            <div class="tu-div">
              <p>
                <span class="month">12<br>03月</span>
                <span class="span1">峰岚动态</span>
                <span class="span2">中国化学会第八届全国配位化学会议</span>
              </p>
              <a href="" class="img"><img src="../../front/images/dongtai-nei2.png" alt="" /></a>
              <p class="text">活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍</p>
              <a href="dongtaixiang.html" class="more">MORE</a>
              <p style="clear:both"></p>
            </div>
            <div class="tu-div">
              <p>
                <span class="month">12<br>03月</span>
                <span class="span1">峰岚动态</span>
                <span class="span2">中国化学会第八届全国配位化学会议</span>
              </p>
              <a href="" class="img"><img src="../../front/images/dongtai-nei3.png" alt="" /></a>
              <p class="text">活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍</p>
              <a href="dongtaixiang.html" class="more">MORE</a>
              <p style="clear:both"></p>
            </div>
            <div class="tu-div">
              <p>
                <span class="month">12<br>03月</span>
                <span class="span1">峰岚动态</span>
                <span class="span2">中国化学会第八届全国配位化学会议</span>
              </p>
              <a href="" class="img"><img src="../../front/images/dongtai-nei4.png" alt="" /></a>
              <p class="text">活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍活动详情介绍</p>
              <a href="dongtaixiang.html" class="more">MORE</a>
              <p style="clear:both"></p>
            </div>
        </div>
        <!-- 图片部分结束 -->
 
    <!-- 页数 -->
    <div id="pageGro">
        <div class="pageUp"><img src="../../front/images/11.png" alt="" /></div>
        <div class="pageList">
            <ul>
                <li class="pagebg">1</li>
                <li>2</li>
                <li> · · · </li>
                <li>5</li>
            </ul>
        </div>
        <div class="pageDown"><img src="../../front/images/22.png" alt="" /></div>
        <div class="pagesum">共<span class="pages">5</span>页</div>
    </div>

</div>    
<!-- art的div结束 -->


<!-- footer部分 -->
<p class="footer">
    <span>大连峰岚文化有限公司</span>
    <span>辽ICP备12345678号</span>
</p>

</div>
<!-- middle_right的div结束 -->



<!-- 一键向上 -->
<a href="" class="top"><img src="../../front/images/top.png" alt="" /></a>
</body>
</html>