<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>峰岚文化</title>
<script src="../../front/js/jquery.1.9.1.js"></script>
<script src="../../front/js/index.js"></script>
<link rel="stylesheet" href="../../front/css/dongtaixiang.css" />
<link rel="stylesheet" href="../../front/css/head-foot.css" />


</head>
<body>
<!-- 头部导航 -->
<div class="header">
    <img src="../../front/images/logo.png" alt="" class="logo" />
    <a class="btn"><img src="../../front/images/nav1.png" alt="" /></a>
    <div class="nav">
      <ul>
          <li><a href="../home/toIndex">首页</a></li>
          <li><a href="../advantage/toAdvantage">峰岚优势</a></li>
          <li><a href="../about/toAbout">关于峰岚</a></li>
          <li><a href="../flService/toFLService">峰岚业务</a></li>
          <li><a href="../news/toNews">峰岚动态</a></li>
          <li><a href="../contact/toContact">联系我们</a></li>
      </ul>
      <a class="del"><img src="../../front/images/del.png" alt="" /></a>
    </div>
</div>
<!-- 头部导航结束 -->
<div class="middle_right">
     <div id="lunbobox">
        <div class="lunbo">
            <a href="#"><img src="../../front/images/anli-nei0.png" /></a>
        </div>
    </div>

<div class="art">
    <img src="../../front/images/dongtai-xiang1.png" alt="" class="new" />
    <div class="art0">
      <p class="art0-title">大连理工大学大连青友会3周年庆典</p>
      <p class="date">2018/3/22</p>
      <p>一路走来，已有三载</p>
      <p>有喜悦，有感动</p>
      <p>有伤心，有幸福</p>
      <p>三周年庆典之夜</p>
      <p>我们把它记录下来</p>
      <p>不是为了纪念感动自己</p>
      <p>而是为了更好地出发，做更好的自己！</p>
      <p class="line"><span></span>偶是华丽丽的分割线<span></span></p>
    </div>
    <!-- 图片部分 -->
    <div class="art2">
        <p class="art2-til">大连理工大学大连青友会3周年全程记录之<span>PART1</span><img src="../../front/images/dongtai-xiang2.png" alt="" /></p>
        <div class="art2-div">
            <a href=""><img src="../../front/images/dongtai-xiang5.png" alt=""class="art2-img" /></a>
        </div>
        <div class="art2-div">
            <a href=""><img src="../../front/images/dongtai-xiang6.png" alt=""class="art2-img" /></a>
        </div>
        <p class="art2-til">大连理工大学大连青友会3周年全程记录之<span>PART2</span><img src="../../front/images/dongtai-xiang3.png" alt="" /></p>
        <div class="art2-div">
            <a href=""><img src="../../front/images/dongtai-xiang7.png" alt=""class="art2-img" /></a>
        </div>
        <div class="art2-div">
            <a href=""><img src="../../front/images/dongtai-xiang8.png" alt=""class="art2-img" /></a>
        </div>
        <p class="art2-til">大连理工大学大连青友会3周年全程记录之<span>PART1</span><img src="../../front/images/dongtai-xiang4.png" alt="" /></p>
        <div class="art2-div">
            <a href=""><img src="../../front/images/dongtai-xiang9.png" alt=""class="art2-img" /></a>
        </div>
        <div class="art2-div">
            <a href=""><img src="../../front/images/dongtai-xiang10.png" alt=""class="art2-img" /></a>
        </div>
        <p style="clear:both"></p>
    </div>
  
    <!-- 页数 -->
    <div id="pageGro">
      <div class="pageUp"><img src="../../front/images/11.png" alt="" /></div>
        <div class="pageList">
            <ul>
                <li class="pagebg">1</li>
                <li>2</li>
                <li> · · · </li>
                <li>5</li>
            </ul>
        </div>
      <div class="pageDown"><img src="../../front/images/22.png" alt="" /></div>
      <div class="pagesum">共<span class="pages">5</span>页</div>
    </div>

</div>    
<!-- art的div结束 -->

<!-- footer部分 -->
<p class="footer">
  <span>大连峰岚文化有限公司</span>
  <span>辽ICP备12345678号</span>
</p>

</div>
<!-- middle_right的div结束 -->

<!-- 一键向上 -->
<a href="" class="top"><img src="../../front/images/top.png" alt="" /></a>

</body>
</html>