<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>万科家电</title>
    <link rel="stylesheet" href="../../front/css/fenglanyoushi.css"/>
    <script src="../../front/js/jquery.1.9.1.js"></script>
    <script src="../../front/js/index.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "#springUrl('/sys/secondMenu/selectForShow')",
                data: {id:"1"},
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.result!=null){
                        if ($(window).width()>600){
                            $(".conter").css({"background-image":"url("+(d.result.backgroundImg)+")"})
                        } else {
                            $(".conter").css({"background-image":"url("+(d.result.backgroundImgPhone)+")"})
                        }
                    }
                }
            });
        })
    </script>
</head>
<body>
<div class="conter">
    <img src="../../front/images/logo1.png" alt="" class="logo"/>
    <a class="btn"><img src="../../front/images/nav.png" alt=""/></a>
    <div class="nav">
        <ul>
            <li><a href="../home/toIndex">首页</a></li>
            <li><a href="../advantage/toAdvantage">万科优势</a></li>
            <li><a href="../about/toAbout">关于万科</a></li>
            <li><a href="../flService/toFLService">万科业务</a></li>
            <li><a href="../news/toNews">万科动态</a></li>
            <li><a href="../contact/toContact">联系我们</a></li>
        </ul>
        <a class="del"><img src="../../front/images/del.png" alt=""/></a>
    </div>

    <!-- 联系我们 -->
    <div class="art">
        <img src="../../front/images/youshi-1.png" alt="" class="art1"/>
        <img src="../../front/images/del.png" alt="" class="art2"/>
        <div class="art3">
            <p class="art3-p">
                <a class="art3-a">| 透明报价</a>
                <span class="art3-span">大连万科家电以诚信立足，坚决杜绝行业普遍的乱收费现象<br>每个季度专业价格透明化分析，保证价格公道透明</span>
            </p>
            <br>
            <p class="art3-p">
                <a class="art3-a">| 优质服务</a>
                <span class="art3-span">只为目标想办法，不为省事找理由<br>专业技术团队，统一培训。每月技术与服务质量考核，保证技术与专业水平</span>
            </p>
            <br>
            <p class="art3-p">
                <a class="art3-a">| 安全快速</a>
                <span class="art3-span">在大连从事家电维修空调安装二十余载，从未出过一次安全质量问题，选择万科就是选择放心<br>市内四区电话随时响应，平均上门时间70分钟</span>
            </p>
        </div>
    </div>
</div>

<p class="footer">
    <span>大连万科家电有限公司</span>
    <span>辽ICP备12345678号</span>
</p>

</body>
</html>