<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>峰岚文化</title>
    <link rel="stylesheet" href="../../front/css/fenglanyoushi.css"/>
    <script src="../../front/js/jquery.1.9.1.js"></script>
    <script src="../../front/js/index.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "#springUrl('/sys/secondMenu/selectForShow')",
                data: {id:"1"},
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.result!=null){
                        if ($(window).width()>600){
                            $(".conter").css({"background-image":"url("+(d.result.backgroundImg)+")"})
                        } else {
                            $(".conter").css({"background-image":"url("+(d.result.backgroundImgPhone)+")"})
                        }
                    }
                }
            });
        })
    </script>
</head>
<body>
<div class="conter">
    <img src="../../front/images/logo1.png" alt="" class="logo"/>
    <a class="btn"><img src="../../front/images/nav.png" alt=""/></a>
    <div class="nav">
        <ul>
            <li><a href="../home/toIndex">首页</a></li>
            <li><a href="../advantage/toAdvantage">峰岚优势</a></li>
            <li><a href="../about/toAbout">关于峰岚</a></li>
            <li><a href="../flService/toFLService">峰岚业务</a></li>
            <li><a href="../news/toNews">峰岚动态</a></li>
            <li><a href="../contact/toContact">联系我们</a></li>
        </ul>
        <a class="del"><img src="../../front/images/del.png" alt=""/></a>
    </div>

    <!-- 联系我们 -->
    <div class="art">
        <img src="../../front/images/youshi-1.png" alt="" class="art1"/>
        <img src="../../front/images/del.png" alt="" class="art2"/>
        <div class="art3">
            <p class="art3-p">
                <a class="art3-a">| 客户优先</a>
                <span class="art3-span">只为目标想办法，不为省事找理由<br>竭尽所能实现客户要求，只是不想对客户说 “对不起，做不到” </span>
            </p>
            <br>
            <p class="art3-p">
                <a class="art3-a">| 专业</a>
                <span class="art3-span">专业的文案、策划、视觉设计、影视拍摄、后期制作团队<br>实战经验丰富，匠心打造每个项目</span>
            </p>
            <br>
            <p class="art3-p">
                <a class="art3-a">| 全面</a>
                <span class="art3-span">不必再东北西走<br>峰岚五大业务一站式达成企业文化和品牌建设目标</span>
            </p>
        </div>
    </div>
</div>

<p class="footer">
    <span>大连峰岚文化有限公司</span>
    <span>辽ICP备12345678号</span>
</p>

</body>
</html>