<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>万科家电</title>
<link rel="stylesheet" href="../../front/css/index.css" />
</head>
<body onload="adjustImg()" onresize="adjustImg()">
<div class="conter">
    <a class="btn"><img src="../../front/images/nav.png" alt="" /></a>
    <div class="nav">
    	<ul>
	    	<li><a href="../home/toIndex">首页</a></li>
            <li><a href="../advantage/toAdvantage">万科优势</a></li>
            <li><a href="../about/toAbout">关于万科</a></li>
            <li><a href="../flService/toFLService">万科业务</a></li>
            <li><a href="../news/toNews">万科动态</a></li>
            <li><a href="../contact/toContact">联系我们</a></li>
    	</ul>
    	<a class="del"><img src="../../front/images/del.png" alt="" /></a>
    </div>
    <img src="../../front/images/index-1.png" alt=""class="img-title">
    <img src="../../front/images/index-11.png" alt=""class="sj-img-title">
</div>

<p class="footer">
    <span>大连万科家电有限公司</span>
    <span>辽ICP备12345678号</span>
</p>
<script src="../../front/js/jquery.1.9.1.js"></script>
<script src="../../front/js/index.js"></script>
</body>
</html>