<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>万科家电</title>
<link rel="stylesheet" href="../../front/css/lianxiwomen.css" />

</head>
<body onload="lianXi()" onresize="lianXi()">
<div class="conter">
    <img src="../../front/images/logo1.png" alt="" class="logo" />
    <a class="btn"><img src="../../front/images/nav.png" alt="" /></a>
    <div class="nav">
    	<ul>
            <li><a href="../home/toIndex">首页</a></li>
            <li><a href="../advantage/toAdvantage">万科优势</a></li>
            <li><a href="../about/toAbout">关于万科</a></li>
            <li><a href="../flService/toFLService">万科业务</a></li>
            <li><a href="../news/toNews">万科动态</a></li>
            <li><a href="../contact/toContact">联系我们</a></li>
    	</ul>
    	<a class="del"><img src="../../front/images/del.png" alt="" /></a>
    </div>
    <!-- 联系我们 -->
    <div class="art kuai">
        <img src="../../front/images/lianxi-1.png" alt="" class="art1" />
        <img src="../../front/images/del.png" alt="" class="art2" />
        <div class="art3">
            <p class="art3-p">大连万科家电有限公司</p>
            <p class="art3-p">A.地址：大连市 沙河口区 马栏广场 红星美凯龙对面</p>
            <p class="art3-p">微信号<span></span></p>
            <img src="../../front/images/erwei.png" alt="" class="art3-img" />
        </div>
    </div>
</div>

<p class="footer">
    <span>大连万科家电有限公司</span>
	<span>辽ICP备12345678号</span>
</p>
<script src="../../front/js/jquery.1.9.1.js"></script>
<script src="../../front/js/index.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "#springUrl('/sys/secondMenu/selectForShow')",
            data: {id:"5"},
            type: "POST",
            success: function (data) {
                var d = JSON.parse(data);
                if (d.result!=null){
                    if ($(window).width()>600){
                        $(".conter").css({"background-image":"url("+(d.result.backgroundImg)+")"})
                    } else {
                        $(".conter").css({"background-image":"url("+(d.result.backgroundImgPhone)+")"})
                    }
                    $(".art3").html(d.result.editText);
                }
            }
        });
    })
</script>
</body>
</html>