<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baomidou.springwind.mapper.ImageDao" >
  <resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.Image" >
    <id column="imageId" property="imageId" jdbcType="VARCHAR" />
    <result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
    <result column="imageDescribe" property="imageDescribe" jdbcType="VARCHAR" />
    <result column="itemId" property="itemId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByItemId" parameterType="java.lang.String" >
    delete from image
    where itemId = #{itemId,jdbcType=VARCHAR}
  </delete>
</mapper>