<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baomidou.springwind.mapper.SecondMenuDao" >
  <resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.SecondMenu" >
    <id column="secondMenuId" property="secondMenuId" jdbcType="VARCHAR" />
    <result column="titleOne" property="titleOne" jdbcType="VARCHAR" />
    <result column="titleTwo" property="titleTwo" jdbcType="VARCHAR" />
    <result column="titleThree" property="titleThree" jdbcType="VARCHAR" />
    <result column="describeOne" property="describeOne" jdbcType="VARCHAR" />
    <result column="describeTwo" property="describeTwo" jdbcType="VARCHAR" />
    <result column="describeThree" property="describeThree" jdbcType="VARCHAR" />
    <result column="imageId" property="imageId" jdbcType="VARCHAR" />
    <result column="partId" property="partId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapExt" type="com.baomidou.springwind.entity.ext.SecondMenuExt">
    <id column="secondMenuId" property="secondMenuId" jdbcType="VARCHAR" />
    <result column="partName" property="partName" jdbcType="VARCHAR" />
    <result column="backgroundImg" property="backgroundImg" jdbcType="VARCHAR" />
    <result column="editText" property="editText" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    secondMenuId, titleOne, titleTwo, titleThree, describeOne, describeTwo, describeThree, 
    imageId, partId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from second_menu
    where secondMenuId = #{secondMenuId,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMapExt">
      select secondMenuId,(select partValue from part where second_menu.partId = part.partId)as partName from second_menu;
    </select>
    <select id="selectById" resultMap="BaseResultMapExt" parameterType="java.lang.String">
      select secondMenuId,(select partValue from part where second_menu.partId = part.partId)as partName,backgroundImg,editText from second_menu where secondMenuId = #{secondMenuId,jdbcType=VARCHAR};
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from second_menu
    where secondMenuId = #{secondMenuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baomidou.springwind.entity.SecondMenu" >
    insert into second_menu (secondMenuId, titleOne, titleTwo,
      titleThree, describeOne, describeTwo,
      describeThree, imageId, partId
      )
    values (#{secondMenuId,jdbcType=VARCHAR}, #{titleOne,jdbcType=VARCHAR}, #{titleTwo,jdbcType=VARCHAR}, 
      #{titleThree,jdbcType=VARCHAR}, #{describeOne,jdbcType=VARCHAR}, #{describeTwo,jdbcType=VARCHAR}, 
      #{describeThree,jdbcType=VARCHAR}, #{imageId,jdbcType=VARCHAR}, #{partId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baomidou.springwind.entity.SecondMenu" >
    insert into second_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="secondMenuId != null" >
        secondMenuId,
      </if>
      <if test="titleOne != null" >
        titleOne,
      </if>
      <if test="titleTwo != null" >
        titleTwo,
      </if>
      <if test="titleThree != null" >
        titleThree,
      </if>
      <if test="describeOne != null" >
        describeOne,
      </if>
      <if test="describeTwo != null" >
        describeTwo,
      </if>
      <if test="describeThree != null" >
        describeThree,
      </if>
      <if test="imageId != null" >
        imageId,
      </if>
      <if test="partId != null" >
        partId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="secondMenuId != null" >
        #{secondMenuId,jdbcType=VARCHAR},
      </if>
      <if test="titleOne != null" >
        #{titleOne,jdbcType=VARCHAR},
      </if>
      <if test="titleTwo != null" >
        #{titleTwo,jdbcType=VARCHAR},
      </if>
      <if test="titleThree != null" >
        #{titleThree,jdbcType=VARCHAR},
      </if>
      <if test="describeOne != null" >
        #{describeOne,jdbcType=VARCHAR},
      </if>
      <if test="describeTwo != null" >
        #{describeTwo,jdbcType=VARCHAR},
      </if>
      <if test="describeThree != null" >
        #{describeThree,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null" >
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="partId != null" >
        #{partId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baomidou.springwind.entity.SecondMenu" >
    update second_menu
    <set >
      <if test="titleOne != null" >
        titleOne = #{titleOne,jdbcType=VARCHAR},
      </if>
      <if test="titleTwo != null" >
        titleTwo = #{titleTwo,jdbcType=VARCHAR},
      </if>
      <if test="titleThree != null" >
        titleThree = #{titleThree,jdbcType=VARCHAR},
      </if>
      <if test="describeOne != null" >
        describeOne = #{describeOne,jdbcType=VARCHAR},
      </if>
      <if test="describeTwo != null" >
        describeTwo = #{describeTwo,jdbcType=VARCHAR},
      </if>
      <if test="describeThree != null" >
        describeThree = #{describeThree,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null" >
        imageId = #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="partId != null" >
        partId = #{partId,jdbcType=VARCHAR},
      </if>
    </set>
    where secondMenuId = #{secondMenuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baomidou.springwind.entity.SecondMenu" >
    update second_menu
    set titleOne = #{titleOne,jdbcType=VARCHAR},
      titleTwo = #{titleTwo,jdbcType=VARCHAR},
      titleThree = #{titleThree,jdbcType=VARCHAR},
      describeOne = #{describeOne,jdbcType=VARCHAR},
      describeTwo = #{describeTwo,jdbcType=VARCHAR},
      describeThree = #{describeThree,jdbcType=VARCHAR},
      imageId = #{imageId,jdbcType=VARCHAR},
      partId = #{partId,jdbcType=VARCHAR}
    where secondMenuId = #{secondMenuId,jdbcType=VARCHAR}
  </update>
</mapper>