<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Basic Form</title>
    <link href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/fileinput.min.css')" rel="stylesheet">
    <script src="#springUrl('/static/js/jquery-2.1.1.js')"></script>
    <script src="#springUrl('/static/js/fileinput.min.js')"></script>
    <script src="#springUrl('/static/js/locales/zh.js')"></script>
    <script src="#springUrl('/static/plugins/nice-validator-0.8.1/jquery.validator.js?local=zh-CN')"></script>
    <style type="text/css">
        .clear {
            clear: both;
        }
    </style>
    <script type="text/javascript">

    </script>
</head>
<body class="white-bg">
<div class="ibox-content" style="width: 800px;">
   <form id="myForm" class="form-horizontal" autocomplete="off" data-validator-option="{theme:'default'}">
       <input type="hidden" name="secondMenuId" value="$!{secondMenu.secondMenuId}">
       <div class="form-group">
           <label class="col-md-3 control-label">二级菜单名</label>
           <div class="col-md-9">
               <input id="secondName" type="text" class="form-control"  name="secondName"  value="$!{secondMenu.partName}" readonly>
           </div>
       </div>
       <div class="form-group">
           <label  class="col-md-3 control-label">背景图片</label>
           <div class="col-md-9">
               <input id="myFile" type="file" name="myFile" class="fileloading">
           </div>
           <input type="hidden" name="backgroundImg" id="backgroundImg"  value="$!{secondMenu.backgroundImg}">
       </div>
       #if($!{secondMenu.secondMenuId}==3)
       <div class="form-group">
           <label  class="col-md-3 control-label">轮播图</label>
           <div class="col-md-9">
               <input id="myFiles" type="file" name="myFile" multiple class="fileloading">
           </div>
           <input type="hidden" name="imageId" id="imageId"  value="$!{secondMenu.imageId}">
       </div>
       #else
       <div class="form-group"></div>
       #end
       #if($!{secondMenu.secondMenuId}!=4)
       <div class="form-group">
           <label  class="col-md-3 control-label">二级菜单介绍</label>
           <div class="col-md-9">
               <script id="content" type="text/plain"></script>
           </div>
           <input name="editText" type="hidden" id="editText">
           <!--<input id="editTextOld" type="hidden" name="editTextOld" value="$!{secondMenu.editText}"/>-->
       </div>
       #else
       <div class="form-group"></div>
       #end
       <div class="hr-line-dashed"></div>
       <div class="form-group">
           <div class="text-center">
               <button class="btn btn-primary" type="submit">修 改</button>
           </div>
       </div>
    </form>
</div>
<!--<script type="text/javascript" charset="utf-8" src="../assets/plugins/ueditor/ueditor.config.js"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="../assets/plugins/ueditor/ueditor.all.js"> </script>-->
<!--<script type="text/javascript" charset="utf-8" src="../assets/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>-->
<script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    $(function () {
        var ue = UE.getEditor('content');
        //异步回调
        ue.ready(function() {
            ue.setContent("");
            var editTextOld = '${secondMenu.editText}';
            console.log(editTextOld);
            if (editTextOld!=="\${secondMenu.editText}".toString()){
                ue.execCommand('inserthtml',editTextOld);
            }
        });

    });

    var arr = [];
    var arr1=[];
    var path = [];
    if ($("#imageId").val()!=null){
        arr1=$("#imageId").val().split(",");
    }
    path.push($("#backgroundImg").val());
    console.log(path);

    $("#myFile").fileinput({
        language : 'zh',
        uploadUrl : "/SpringWind/sys/common/upload",
        autoReplace : true,
        maxFileCount : 1,
        allowedFileExtensions : [ "jpg", "png", "gif" ],
        browseClass : "btn btn-primary", //按钮样式
        previewFileIcon : "<i class='glyphicon glyphicon-king'></i>",
        initialPreviewAsData: true, // 特别重要
        initialPreviewFileType: 'image',
        initialPreview:path, //要显示的图片的路径
        initialPreviewConfig: [
            {key:1,showDelete: false}
        ]
    }).on("fileuploaded", function(e, data) {
        var res = data.response;
        $("#backgroundImg").attr("value", res.success);
    });

    $("#myFiles").fileinput({
        language : 'zh',
        uploadUrl : "/SpringWind/sys/common/upload",
        autoReplace : false,
        maxFileCount : 5,
        allowedFileExtensions : [ "jpg", "png", "gif" ],
        browseClass : "btn btn-primary", //按钮样式
        previewFileIcon : "<i class='glyphicon glyphicon-king'></i>",
        initialPreviewAsData: true, // 特别重要
        initialPreviewFileType: 'image',
        initialPreview:arr1, //要显示的图片的路径
        initialPreviewConfig: [
            {key:1,showDelete: false}
        ]
    }).on("fileuploaded", function(e, data) {
        var res = data.response;
        arr.push(res.success);
        $("#imageId").attr("value", arr);
        console.log(arr);
    });



    $("#myForm").validator({
    valid: function(form){
        var me = this;
        // 提交表单之前，hold住表单，防止重复提交
        me.holdSubmit();
        if (!UE.getEditor('content').hasContents()){
            alert('请先填写内容!');
        }else{
            var editText=UE.getEditor('content').getContent();
            $("#editText").attr("value", editText);
            $("#myForm").validator();
        }
        $.ajax({
        	url: "#springUrl('/sys/secondMenu/editSecondMenu')",
            data: $(form).serialize(),
            type: "POST",
            success: function(data){
            	var d = JSON.parse(data);
                if(d.success && d.data){
                	window.parent.location.reload();
                } else {
                	//失败，提交表单成功后，释放hold，如果不释放hold，就变成了只能提交一次的表单
                    me.holdSubmit(false);
                }
            }
        });
    }
});

</script>
</body>
</html>
